/* table */
@media (min-width: 320px) and (max-width: 1024px) {
  header .contenedor {
    padding: 0 3.5rem;
  }

  header :is(.menu, button) {
    display: none;
  }

  .menu-mobile {
    display: block !important;
  }

  .slideshow .content {
    flex-direction: column;
    padding: 0 40px;
  }

  .banner {
    background-color: #3CDDF3 !important;
  }

  .banner .contenido {
    display: block !important;
    padding: 20px;
  }

  .banner .contenido :is(h2, span) {
    width: 100% !important;
  }

  .banner .contenido h2 {
    margin-bottom: 52px;
  }

  .cards .card {
    gap: unset;
    padding-left: 24px;
    width: 100%;
  }

  .cards .card {
    gap: unset;
  }

  .cards .card .numero {
    position: absolute;
  }

  .cards .card .contenido-card .titulo {
    margin-left: 50px;
  }

  .cards .card .contenido-card .titulo {
    background-color: #8B48BF4D;
    padding: 12px 12px 12px 32px;
  }

  .bestmonth {
    padding: 0 20px;
  }

  .bestmonth article {
    flex-direction: column;
    gap: 50px;
  }

  .bestmonth article .items-article {
    max-width: unset;
  }

  .bestmonth article :is(.items-article:last-child,
    .items-article:nth-child(2)) {
    display: none;
  }

  .calltoaction {
    text-align: center;
  }

  .calltoaction button {
    background: #232C50;
    color: var(--luz);
  }

}