@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@import url(./responsive.css);

:root {
    /* Colores Primarios */
    --primario-1: #8B48BF;
    --primario-2: #3CDDF3;
    --segundario-1: #422458;

    /* Color Neutro */
    --neutro-1: #1E1E26;
    --nuetro-2: #232851;
    --gris: rgb(249, 249, 249);
    --luz: #fff;
    --oscuro: #000;
    --text_alt: #B3B2B7;

    --tamano-fuente-base: 16px;
    --color-hover-texto: rgba(36, 46, 82, 0.6);
    /* Fuentes */
    --font-principal: 'Be Vietnam Pro', sans-serif;
}

* {
    font-family: var(--font-principal);
    font-size: var(--tamano-fuente-base);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.contenedor {
    max-width: 1320px;
    margin: auto;
}

/* Header */

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.logo img {
    width: 6.73rem;
    height: 1.563rem;
    margin-right: 10px;
}

nav.menu ul {
    display: flex;
    list-style: none;
}

nav.menu ul li a {
    margin: 15px;
    text-decoration: none;
    color: var(--nuetro-2);
}

nav.menu ul li a {
    margin: 15px;
    text-decoration: none;
    color: var(--nuetro-2);
    font-size: 0.813rem;
    transition:  all 200ms ease;
    -webkit-transition:  all 200ms ease;
    -moz-transition:  all 200ms ease;
    -ms-transition:  all 200ms ease;
    -o-transition:  all 200ms ease;
}

nav.menu ul li a:hover {
    color: var(--color-hover-texto);
    border-bottom: 3px  solid var(--segundario-1);
}

.btn-primario {
    background-color: var(--primario-1);
    font-weight: 500;
    border-radius: 15px;
    font-size: 0.824rem;
    text-align: center;
    color: var(--luz);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12.5px 41px;

}

.btn-primario:hover {
    background-color: var(--segundario-1);
}


.btn-segundario {
    background-color: var(--luz);
    font-weight: 600;
    border-radius: 30px;
    font-size: 0.824rem;
    text-align: center;
    color: var(--primario-1);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12.5px 42px;
    box-shadow: 0px 4px 8px 0px #00000040;
    max-height: 44px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-segundario:hover {
    background-color: #c4c4c4;
    font-weight: 600;
}

.menu-mobile {
    display: none;
}

/* END Header */

/* Slideshow */
.slideshow .content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.slideshow div img {
    max-width: 540px;
    width: 100%;

}

.contenido-slideshow {
    display: block;
    text-align: end;
}

.contenido-slideshow h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--nuetro-2);
    text-align: right;
    margin-bottom: 20px;

}

.contenido-slideshow p {
    margin: 28px 0
}

p {
    color: var(--oscuro);
    text-align: right;
}

/* End Slideshow */


.py64 {
    padding: 64px 0 !important;
}

/* Banner  */
.banner {
    background-color: var(--primario-1);
    width: 100%;
    color: var(--luz);
    justify-content: space-between;
    padding: 40px 0;
    margin-top: 95px;
}

.banner .contenido {
    display: flex;
    gap: 100px;
    flex: 1 0 450px;

}

.banner .contenido h2 {
    font-size: 2.5rem;
    font-weight: 700;
    width: 50%;
}

.banner .contenido span {
    width: 50%;
    font-size: 1rem;

}
/* END Banner  */

.calltoaction>.banner .contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.calltoaction>.banner .contenido h2 {
    width: 40%;
}

/* Cards */

.cards {

    padding: 40px 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    display: flex;
    align-items: baseline;
    gap: 23px;
    width: 550px
}

.numero {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--luz);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--primario-1);
    height: 43px;
    min-width: 69px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

}


.contenido-card .titulo {
    margin-bottom: 18px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--nuetro-2);
    padding-top: 12px;
}

.contenido-card legend {
    color: var(--text_alt);

}
/* END Cards */


/* Footer */

footer {
    background-color: var(--neutro-1);
    color: #fff;

}

.contenido-footer {
    padding: 54px 0;
}

.contenido-footer .fila-1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contenido-footer .fila-2 {
    display: flex;
    color: #8C8C94;
    justify-content: flex-end;
    font-size: .75rem;

}


footer .contenido-footer {
    color: var(--luz);
}

footer .contenido-footer .logo {
    margin-bottom: 78px;
}

footer .contenido-footer .sociales {
    display: flex;
    gap: 13px;
}

footer .contenido-footer nav ul {
    list-style: none;
}

footer .contenido-footer nav ul li {
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 12px;
}

footer .contenido-footer nav ul li a {
    color: var(--luz);
    text-decoration: auto;
    font-weight: 400;
}

footer .contenido-footer input[type=email] {
    height: 44px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 0;
    color: #A0A0A0;
    font-size: 13.18px;
    padding: 10px;
    font-weight: 600;
}

footer .contenido-footer .box:first-child {
    width: 20%;
    justify-content: space-between;
}

footer .contenido-footer .box {
    width: 26.66%;
    justify-content: space-between;
}

footer .contenido-footer .box a:hover {
    text-decoration: underline;
}

footer .contenido-footer .box form {
    display: flex;
    gap: 10px;
    justify-content: end;
}

footer .contenido-footer .btn-primario {
    max-height: 44px;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-transform: capitalize;
}

/* END Footer */